Repository kcc-finalproject/kcc_bus_reservation_system, pull requests merged in 2024-08, with the labels that each got.

#5 #3 #4[setting]: Spring init
  .github/ISSUE_TEMPLATE/⚙️setting.md
  .github/ISSUE_TEMPLATE/✨feature.md
  .github/ISSUE_TEMPLATE/🎨style.md
  .github/ISSUE_TEMPLATE/🐞bug.md
  .github/ISSUE_TEMPLATE/📜docs.md
  .github/ISSUE_TEMPLATE/🔨refactor.md
  .github/pull_request_template.md
  backend/.gitignore
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/com/unibus/BackendApplication.java
  backend/src/main/java/com/unibus/config/EnvConfig.java
  backend/src/main/java/com/unibus/config/SecurityConfig.java
  backend/src/main/resources/env.properties
  backend/src/test/java/com/unibus/BackendApplicationTests.java
Labels: ⚙️Setting

#6 백엔드 폴더 구조 생성 및 이슈 템플릿 오타 수정
  .github/ISSUE_TEMPLATE/.✨feature.md.swp
  backend/.gitignore
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/com/unibus/BackendApplication.java
  backend/src/main/java/com/unibus/config/EnvConfig.java
  backend/src/main/java/com/unibus/config/SecurityConfig.java
  backend/src/main/resources/env.properties
  backend/src/test/java/com/unibus/BackendApplicationTests.java
Labels: 🐞BugFix, ⚙️Setting

#9 [Setting] 백엔드 폴더 구조 변경
  .gitignore
  backend/.gitignore
  backend/src/main/java/com/unibus/admin/controller/AdminController.java
  backend/src/main/java/com/unibus/admin/mapper/AdminMapper.java
  backend/src/main/java/com/unibus/admin/service/AdminService.java
  backend/src/main/java/com/unibus/admin/service/AdminServiceImpl.java
  backend/src/main/java/com/unibus/reservation/controller/ReservationController.java
  backend/src/main/java/com/unibus/reservation/mapper/ReservationMapper.java
  backend/src/main/java/com/unibus/reservation/service/ReservationService.java
  backend/src/main/java/com/unibus/reservation/service/ReservationServiceImpl.java
  backend/src/main/java/com/unibus/user/controller/UserController.java
  backend/src/main/java/com/unibus/user/mapper/UserMapper.java
  backend/src/main/java/com/unibus/user/service/UserService.java
  backend/src/main/java/com/unibus/user/service/UserServiceImpl.java
  backend/src/main/resources/mapper/admin/adminMapper.xml
  backend/src/main/resources/mapper/reservation/reservationMapper.xml
  backend/src/main/resources/mapper/user/userMapper.xml
Labels: ⚙️Setting

#11 [HOTFIX] remove file
  backend/src/main/resources/env.properties
Labels: ⚙️Setting

#14 [Feature] 프론트엔드 기본 구조 생성
  backend/.gitignore
  backend/src/main/java/com/unibus/Exception/CustomizedResponseEntityExceptionHandler.java
  backend/src/main/java/com/unibus/Exception/ExceptionResponse.java
  backend/src/main/java/com/unibus/user/controller/UserController.java
  backend/src/main/java/com/unibus/user/domain/Member.java
  backend/src/main/java/com/unibus/user/mapper/UserMapper.java
  backend/src/main/java/com/unibus/user/service/UserService.java
  backend/src/main/java/com/unibus/user/service/UserServiceImpl.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/env.properties
  backend/src/main/resources/mapper/user/userMapper.xml
  backend/src/main/webapp/WEB-INF/views/hello.jsp
  backend/src/main/webapp/resources/css/test.css
  backend/src/main/webapp/resources/js/test.js
  frontend/css/admin.css
  frontend/css/header.css
  frontend/css/login.css
  frontend/css/main.css
  frontend/css/mypage.css
  frontend/css/reset.css
  frontend/img/main.jpg
  frontend/img/main_view.jpg
  frontend/js/admin_header.js
  frontend/js/header.js
  frontend/js/login.js
  frontend/js/main.js
  frontend/js/mypage.js
  frontend/js/user_header.js
  frontend/jsp/admin.html
  frontend/jsp/join.html
  frontend/jsp/login.html
  frontend/jsp/main.html
  frontend/jsp/mypage.html
Labels: ✨Feature, 🎨Html&css, ⚙️Setting

#15 [Setting] 프론트엔드 폴더 구조 구축
  .github/ISSUE_TEMPLATE/.✨feature.md.swp
  .github/ISSUE_TEMPLATE/✨feature.md
  backend/.gitignore
  backend/src/main/java/com/unibus/Exception/CustomizedResponseEntityExceptionHandler.java
  backend/src/main/java/com/unibus/Exception/ExceptionResponse.java
  backend/src/main/java/com/unibus/user/controller/UserController.java
  backend/src/main/java/com/unibus/user/domain/Member.java
  backend/src/main/java/com/unibus/user/mapper/UserMapper.java
  backend/src/main/java/com/unibus/user/service/UserService.java
  backend/src/main/java/com/unibus/user/service/UserServiceImpl.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/mapper/user/userMapper.xml
  backend/src/main/webapp/WEB-INF/views/hello.jsp
  backend/src/main/webapp/resources/css/test.css
  backend/src/main/webapp/resources/js/test.js
  frontend/css/admin.css
  frontend/css/header.css
  frontend/css/login.css
  frontend/css/main.css
  frontend/css/mypage.css
  frontend/css/reset.css
  frontend/img/main.jpg
  frontend/img/main_view.jpg
  frontend/js/admin_header.js
  frontend/js/header.js
  frontend/js/login.js
  frontend/js/main.js
  frontend/js/mypage.js
  frontend/js/user_header.js
  frontend/jsp/admin.html
  frontend/jsp/join.html
  frontend/jsp/login.html
  frontend/jsp/main.html
  frontend/jsp/mypage.html
Labels: 🐞BugFix, 🎨Html&css, ⚙️Setting

#20 [Style]: admin_user 페이지 구현 #19
  frontend/css/admin.css
  frontend/css/admin_user.css
  frontend/img/logo.png
  frontend/js/admin_user.js
  frontend/jsp/admin.html
  frontend/jsp/admin_user.html
Labels: 🎨Html&css

#29 [Feature] reservation_detail.html 구현
  frontend/.vscode/settings.json
  frontend/css/main.css
  frontend/css/reservation_seat1.css
  frontend/css/reservaton_detail.css
  frontend/img/bus_bg.png
  frontend/img/bus_bg_big.png
  frontend/js/main.js
  frontend/js/reservation_detail.js
  frontend/js/reservation_seat1.js
  frontend/jsp/main.html
  frontend/jsp/reservation_detail.html
  frontend/jsp/reservation_seat1.html
Labels: 🎨Html&css

#31 [Style]: 예매내역, 결제, 서비스 동의 페이지 #30
  frontend/css/header.css
  frontend/css/payment.css
  frontend/css/payment_accept.css
  frontend/img/TossPayments_Logo_Simple_Primary.png
  frontend/img/badge_npay.svg
  frontend/img/image 7.png
  frontend/img/paymentInCheck.png
  frontend/img/paymentTopThree.png
  frontend/img/payment_icon_yellow_large.png
  frontend/img/payment_icon_yellow_medium.png
  frontend/img/payment_icon_yellow_small.png
  frontend/img/start_end.png
  frontend/jsp/payment.html
  frontend/jsp/payment_accept.html
  frontend/jsp/payment_finish.html
Labels: 🎨Html&css
